<h1>UserInfo#new</h1>
<p>Find me in app/views/user_info/new.html.erb</p>

<%= form_for @info, url: user_info_path, method: :post do |f| %>

  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :birthday %>
    <%= f.date_select :birthday %>


  <%= f.submit %>

<% end %>